@charset "utf-8";

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	line-height: 10px;
	font-size: 10px;
	background: #fff;
}

.wrapper {
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.link {
	display: none;
	position: absolute;
	z-index: 22;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000 url(../img/bg.jpg) no-repeat center;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}

.bg_beach {
	z-index: 2;
	background-image: url(../img/bg_beach.jpg);
	opacity: 0;
}

.move {
	display: block;
	position: absolute;
	z-index: 10;
	bottom: 6%;
	left: 0;
	width: 100%;
	height: 6.25%;
	background: url(../img/move.png) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
	opacity: 1;
}

.snow {
	display: block;
	position: absolute;
	z-index: 10;
	top: 21%;
	left: 0;
	width: 100%;
	height: 34%;
	mix-blend-mode: screen;
	opacity: 0;
}
.snow__item {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/snow_1.png) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
}
.snow__item_2 {background-image: url(../img/snow_2.png);}
.snow__item_3 {background-image: url(../img/snow_3.png);}
.snow__item_4 {background-image: url(../img/snow_4.png);}
.snow__item_5 {background-image: url(../img/snow_5.png);}
.snow__item_6 {background-image: url(../img/snow_6.png);}
.snow__item_7 {background-image: url(../img/snow_7.png);}
.snow__item_8 {background-image: url(../img/snow_8.png);}
.snow__item_9 {background-image: url(../img/snow_9.png);}
.snow__item_10 {background-image: url(../img/snow_10.png);}
.snow__item_11 {background-image: url(../img/snow_11.png);}

.logo {
	display: block;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 33.75%;
	background: url(../img/logo.png) no-repeat 51% 0;
	-webkit-background-size: contain;
	background-size: contain;
	opacity: 0;
}

.title {
	display: block;
	position: absolute;
	z-index: 10;
	top: 31.3%;
	left: 0;
	width: 100%;
	height: 21.25%;
	background: url(../img/title.png) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
	opacity: 0;
}

.text {
	display: block;
	position: absolute;
	z-index: 10;
	bottom: 1.8%;
	left: 0;
	width: 100%;
	height: 30%;
	background: url(../img/text.png) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
	opacity: 0;
}

.button {
	display: block;
	position: absolute;
	z-index: 10;
	bottom: 3.75%;
	left: 0;
	width: 100%;
	height: 10.6%;
	background: url(../img/button.png) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
	opacity: 0;
}

.info {
	display: block;
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff url(../img/info.jpg) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
	outline: 3px solid #000;
	outline-offset: -3px;
	opacity: 0;
}

/**/

.action .link {display: block;}

.action .move {animation: fade_out 1s forwards ;}

.action .snow {animation: snow_main 11s forwards;}
.action .snow__item_1 {animation: snow_first 10s forwards linear Infinite;}
.action .snow__item_2 {animation: snow_second 8s forwards linear Infinite;}
.action .snow__item_3 {animation: snow_first 7s forwards linear Infinite;}
.action .snow__item_4 {animation: snow_second 10s forwards linear Infinite;}
.action .snow__item_5 {animation: snow_first 11s forwards linear Infinite;}
.action .snow__item_6 {animation: snow_second 9s forwards linear Infinite;}
.action .snow__item_7 {animation: snow_first 10s forwards linear Infinite;}
.action .snow__item_8 {animation: snow_second 11s forwards linear Infinite;}
.action .snow__item_9 {animation: snow_second 6s forwards linear Infinite;}
.action .snow__item_10 {animation: snow_first 7s forwards linear Infinite;}
.action .snow__item_11 {animation: snow_first 9s forwards linear Infinite;}

.action .bg_beach {animation: beach 4.2s forwards; animation-delay: 3.5s;}

.action .logo {animation: fade_in 1s forwards; animation-delay: 11.5s;}
.action .title {animation: fade_in 1s forwards; animation-delay: 11s;}
.action .text {animation: text 6s forwards; animation-delay: 12s;}
.action .button {animation: fade_in 1s forwards; animation-delay: 17.5s;}
.action .info {animation: fade_in 1s forwards; animation-delay: 22s;}

/**/

@keyframes fade_in {0% {opacity: 0;} 100% {opacity: 1;}}
@keyframes fade_out {0% {opacity: 1;} 100% {opacity: 0;}}

@keyframes snow_main {
	0% {opacity: 0;}
	5%, 32%{opacity: 1;}
	38%, 60% {opacity: 0;}
	70%, 95%{opacity: 1;}
	100% {opacity: 0;}
}
@keyframes snow_first {
	0% {transform: rotateZ(0deg);}
	33% {transform: rotateZ(120deg);}
	66% {transform: rotateZ(240deg);}
	100% {transform: rotateZ(360deg);}
}
@keyframes snow_second {
	0% {transform: rotateZ(0deg);}
	33% {transform: rotateZ(-120deg);}
	66% {transform: rotateZ(-240deg);}
	100% {transform: rotateZ(-360deg);}
}

@keyframes beach {
	20%, 75% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes text {
	20%, 90% {opacity: 1;}
	100% {opacity: 0;}
}

/**/

@media screen and (orientation:landscape) {
	/**/
}